---
- name: Deploy to Kubernetes
  hosts: localhost
  connection: local
  tasks:
    - name: Apply Kubernetes Deployment
      command: kubectl apply -f ../k8s/deployment.yaml --validate=false

    - name: Apply Kubernetes Service
      command: kubectl apply -f ../k8s/service.yaml --validate=false
