- name: Deploy to Minikube
  hosts: localhost
  connection: local

- name: Apply Deployment
  command: kubectl apply -f ../k8s/deployment.yaml --validate=false

- name: Apply Service  
  command: kubectl apply -f ../k8s/service.yaml --validate=false
