---
- name: Apply Kubernetes manifests
  hosts: localhost
  connection: local
  tasks:
    - name: Apply Deployment
      command: kubectl apply -f ../k8s/deployment.yaml --validate=false

    - name: Apply Service
      command: kubectl apply -f ../k8s/service.yaml --validate=false
